* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('foto/arka.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 400px;
    border: 2px solid #6a0dad;
}

h1 {
    margin-bottom: 20px;
    color: #4b0082;
    font-size: 24px;
}

input {
    width: 100%;
    height: 43px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #8a2be2;
    border-radius: 10px;
    font-size: 16px;
    background-color: #f9f5ff;
    color: #333;
    resize: none;
    margin-top: 20px;
}

button {
    background-color: #6a0dad;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 18px;
    margin-right: 25px;
}

button:hover {
    background-color: #5c0099;
}
